<!DOCTYPE html>
<html lamg="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href='/css/base.css'>
	{% block css %}
	{% endblock %}
</head>
<body>
	{% include "partials/nav.html" %}
	<main>
		{% block content %}{% endblock %}
	</main>
	{% block javascript %}
	{% endblock %}
	{% include "partials/footer.html" %}
</body>
</html>
