@font-face {
  font-family: "Handlee";
  src: url('/fonts/handlee-regular.ttf');
}

h1, h2, h3, h4, h5, h6, #pages_nav {
    font-family: Handlee;
    text-transform: uppercase;
}

main, #languages_nav {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

a {
  text-decoration: none;
}

body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    flex-direction: column;
}

#pages_nav {

    padding: 0px;

    ul {
        background: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    li {
        color: #000000;
        display: block;
        float: left;
        padding: 1rem;
        position: relative;
        text-decoration: none;
    }
    
    li a {
        color: #000000;
    }

    li:hover,
    li:focus-within {
        background-color: aliceblue;
        cursor: pointer;
    }

    li:focus-within a {
       outline: none;
    }

    ul li ul {
        list-style-type: none;
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        margin-top: 1rem;
        left: 0;
        display: none;
    }

    ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover,
    ul li ul:focus {
        visibility: visible;
        opacity: 1;
        display: block
    }

    ul li ul li {
        clear: both;
        width: 100%;
        font-size: small;
        background: white;
        z-index: 1;
        position:relative;
    }
}

#languages_nav {

    padding: 5px;

    ul {
        display: inline;
        list-style: none;
    }

    ul li {
        display: inline;
    }

    ul li + li:before {
        content: ", ";
    }
}

footer {
    padding: 10px;
}